<form action="create" method="POST">
    <span>Title</span>
    <input type="text" name="title" value="My Book" /><br />
    <span>Description</span>
    <input type="text" name="description" value="book description" /><br />
    <span>SamplePage</span>
    <input type="text" name="samplepage" value="http://www.sample.com/samplepage" /><br />
    <span>AuthorEmail</span>
    <input type="text" name="authoremail" value="admin@samplepage.com" /><br />
    <span>AuthorPhone</span>
    <input type="text" name="authorphone" value="+905543456789" /><br />
    <input type="submit" name="create" value="Create" />
</form>